<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="../static/thirdParty/bootstrap.min.css">
    <link rel="stylesheet" href="../static/thirdParty/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/thirdParty/react-table.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - Cruddy2</title>
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block scripts %}
<script src="../static/thirdParty/jquery-3.1.1.min.js"></script>
<script src="../static/thirdParty/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
