{% extends "base.html" %} {% block title %} Create A Thing {% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='creatething.js')}}" type="text/javascript"></script>
{{super()}} {% endblock %} {% block content %}

<div style = "display:inline-block; width:50%">
<form id="createthingform" action="{{url_for('submittedThing')}}" method="POST">
  Thing Name:
  <input name="thingname" type="text">
  <br>

  <fieldset class="thingattr" number="1">
    Thing Attribute Name:
    <input name="thingattributename[]" class="thingattributename" number="1" type="text"> <br>
    Thing Attribute Type:
    <select name="thingattributetypeid[]" class="thingattributetypeid" number="1">
      {% for name, number in thingAttributeTypes.iteritems() %}
        <option value="{{number}}">{{name}}</option>
      {% endfor %}
    </select> <br>
  </fieldset>
  <button id="newThingAttrGroupBtn" type="button">new attribute!</button>
  <button type="submit">Submit</button>
</form>
</div>
<div style = "display:inline-block; width:50%">

</div>
{% endblock %}
